extends ../index
block content
  #archeeve
    #top
      #topCover
        img(src='/assets/logo-arch.png')#logo
        img(src='/assets/opl.png')#opl
        h1#top-text THE MOST USEFUL APP TO ORGANISE YOUR BOOKMARKS
        
        #contain
          ul
            li: p#mac GET IT FOR MAC
            li: p#windows GET IT FOR WINDOWS
        
        #contain
          img(src='/assets/app.png')#app
        
    #features
      h2 FEATURES
      
