extends ../index
block content
  #archeeve
    #top
      #topCover
        img(src='/assets/logo-arch.png')#logo
        img(src='/assets/opl.png')#opl
        h1#top-text THE MOST USEFUL APP TO ORGANISE YOUR BOOKMARKS
        
        #contain
          ul
            li#get: p#mac GET IT FOR MAC
            li#get: p#windows GET IT FOR WINDOWS
        
        #contain
          img(src='/assets/app.png')#app
        
    #featuresBox
      #featureContainer
        h2 FEATURES
        #featEach
          div
            i.fa.fa-search#icon
          div
            p SEARCH
            p#p2 search bookmarks by title or description
        #featEach
          div
            i.fa.fa-bars#icon
          div
            p ORGANISE
            p#p2 Organise bookmarks with collections and tags
        #featEach
          div
            i.i.fa.fa-star-o#icon
          div
            p FAVORITES
            p#p2 Find favorites bookmarks with ease
        #featEach
          div
            i.i.fa.fa-table#icon
          div
            p GRID/LIST
            p#p2 Switch between grid or list view
        #featEach
          div
            i.fa.fa-picture-o#icon
          div
            p SCREENSHOTS
            p#p2 Archeeve automatically generates screenshot of each bookmark
        #featEach
          div
            i.fa.fa-globe#icon
          div
            p MULTILINGUAL
            p#p2 Archeeve speaks in your language *
        #featEach
          div
            i.fa.fa-refresh#icon
          div
            p SYNC
            p#p2 Sync your bookmarks with Pocket
        #featEach
          div
            i.fa.fa-upload#icon
          div
            p IMPORT/EXPORT
            p#p2 Import/Export of bookmark files
        p#p3 * English, Polish, German, Spanish, Portuguese, Turkish, Dutch, French
    #screenShots
      h2 SCREENSHOTS
      #sSContainer
        #shotEach
          img(src='/assets/archeeve1.png')
          img(src='/assets/archeeve2.png')
          img(src='/assets/archeeve3.png')
          img(src='/assets/archeeve4.png')
          img(src='/assets/archeeve5.png')
          img(src='/assets/archeeve6.png')
          img(src='/assets/archeeve7.png')
          img(src='/assets/archeeve8.png')
    #buyNow
      #buyContainer
        h2 GET THE APP NOW FOR $4.99!
        p Every transaction on Selz happens through an encrypted HTTP Secure connection.
        div#bottomGet
          button#mac2 GET IT FOR MAC (1.0.5)
          button#windows2 GET IT FOR WINDOWS
    #footer
      #footerContainer
        p All Rights Reserved. Copyright © 2014 Archeeve, mobily.pl
        p Created by Marcin Dziewulski (Warsaw, Poland), website: mobily.pl, twitter: @marcinmobily
      
